@CHARSET "UTF-8";

body{
	padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	line-height: 1;
    /* font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica; */
    color: #414141;
    /* background: #f5f5f5; */
}

img, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}
#header{
	background : url(/codi/resources/images/footer-bg.png);
}
#footer{
	background-image: url("/codi/resources/images/footer-bg.png");
}