@CHARSET "UTF-8";
*{
    outline:none;
}

#main {
    position: relative;
    min-height: 100%;
    background: #f1f4f8;
}
#fabar{	
    margin-left: 50px;
    font-size: 20px;
    margin-top: 22px;
}
#sidebar_left{
	background-color: #2b333e;
  	/* width: inherit; */
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}
.nav >li >a.side-btn{
	color: #91a7c6;
	padding: 0;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    font-size: 18px;
}
.side-btn >span:nth-child(1){
	padding-left : 10px;
}
.side-btn >span:nth-child(2){
 	font-weight: 400;
    font-size: 14px;
    padding-left: 25px;
}
.side-btn:HOVER {
	color: #464c59;
    background-color: #fff;
}
.side-btn:HOVER >span:nth-child(1) {
	color: #30b5e1;
}   
.sidebar-menu:FOCUS{
	outline: none;
}
.sidebar-menu > li{
	margin-bottom: 20px;
}
.sidebar-menu > li > ul {
    background-color: #303F52;
    clear: both;
    display: none;
    /* width: 220px; */
    height: auto;
    list-style: none;
}
.sidebar-menu > li > ul > li > a {
  	color: #97ABC8;
  	text-decoration : none;
  	padding: 11px 20px 11px 30px;
}
.sidebar-menu > li > ul > li > a:hover{
    color: #43c7d7;
    font-weight: 600;
    cursor : pointer;
}
/*  .sidebar-menu > li > ul > li:hover > a:after, .sidebar-menu > li > ul > li:focus > a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background: #43c7d7;
}  */

.onBtn{
	color : "#30b5e1";
   	background-color : #fff;
   	border-color : "initial";
}
.category-li:HOVER{
	background: none;
}
.category-li > a{
	color: #AAA;
    font-weight: 600;
    border-bottom: 3px solid transparent;
	padding: 16px 14px 12px;
	cursor:pointer;
}

#category-type > li > a:HOVER{
	color: #444;
    background-color: transparent;
}
.active > a{
	color: #444;
	border-bottom: 3px solid #43c7d7;
}
.subBtn{
	font-weight: 600 !important;
    border: 2px solid transparent;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    transition: 0.3s ease-out;
    color: #30b5e1;
    background-color: #fff;
    border-color: initial;
}
.subBtn:HOVER{
	color: #fff;
    background-color: #30b5e1;
    border-color: initial;
}
.container .jumbotron, .container-fluid .jumbotron{
	padding-left: 15px;
	padding-right: 15px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    border: none; 
}
.comm-remove{
	cursor: pointer;
}
.comm-remove:HOVER {
	opacity: 0.5;
}