<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BasketMapper">

	<resultMap type="com.basic.product.ProductEachDTO" id="ProductEach">
		<result column="productSize_size" property="productSize_size"
			javaType="java.lang.String" />
		<result column="productEach_color" property="productEach_color"
			javaType="java.lang.String" />
		<result column="productEach_each" property="productEach_each"
			javaType="int" />
	</resultMap>

	<!-- private String basket_num; private int product_num; private String 
		product_name; private int productInfo_price; private double productInfo_saleRate; 
		private String basketInfo_size; private String basketInfo_color; private 
		int basketInfo_each; private List<ProductEachDTO> productEachDTO; -->

	<resultMap type="com.basic.basket.BasketListDTO" id="BasketList">
		<id column="basket_num" property="basket_num" />
		<result column="basketInfo_size" property="basketInfo_size" />
		<result column="basketInfo_color" property="basketInfo_color" />
		<result column="basketInfo_each" property="basketInfo_each" />
		<result column="product_num" property="product_num" />
		<result column="product_name" property="product_name" />
		<result column="productInfo_price" property="productInfo_price" />
		<result column="productInfo_saleRate" property="productInfo_saleRate" />
		<collection property="productEachDTO" resultMap="ProductEach" />
	</resultMap>




	<resultMap type="int" id="ResultValue">
		<result column="basket_num" property="basket_num" />
	</resultMap>

	<select id="NewSelBasketList" parameterType="com.basic.member.MemberDTO"
		resultMap="BasketList">

		select DISTINCT
		b.BASKET_NUM,bi.BASKETINFO_COLOR,bi.BASKETINFO_EACH,bi.BASKETINFO_SIZE
		,p.PRODUCT_NUM,p.PRODUCT_NAME,pi.PRODUCTINFO_PRICE,pi.PRODUCTINFO_SALERATE
		,pe.PRODUCTSIZE_SIZE,pe.PRODUCTEACH_COLOR,pe.PRODUCTEACH_EACH from
		BASKET b,BASKETINFO bi,PRODUCT p , PRODUCTINFO pi,
		PRODUCTSIZE
		ps,PRODUCTEACH pe where
		bi.BASKET_NUM = b.BASKET_NUM and p.PRODUCT_NUM
		= b.PRODUCT_NUM
		and pe.PRODUCT_NUM = p.PRODUCT_NUM
		and pi.PRODUCT_NUM =
		p.PRODUCT_NUM
		and ps.PRODUCT_NUM = p.PRODUCT_NUM
		and ps.PRODUCTSIZE_SIZE
		= pe.PRODUCTSIZE_SIZE
		and b.ID = #{id} ORDER BY b.BASKET_NUM desc



	</select>

	<select id="SelBasketList" parameterType="com.basic.member.MemberDTO"
		resultType="com.basic.basket.BasketListDTO">
		select
		p.PRODUCT_NUM,p.PRODUCT_NAME,pi.PRODUCTINFO_PRICE,pi.PRODUCTINFO_SALERATE,
		b.BASKET_NUM,bi.BASKETINFO_SIZE,bi.BASKETINFO_COLOR,bi.BASKETINFO_EACH
		from PRODUCT p , PRODUCTINFO pi, BASKET b , BASKETINFO bi
		where
		bi.BASKET_NUM = b.BASKET_NUM and p.PRODUCT_NUM = b.PRODUCT_NUM
		and
		pi.PRODUCT_NUM = b.PRODUCT_NUM and pi.PRODUCT_NUM = p.PRODUCT_NUM
		and
		b.ID=#{id}
	</select>

	<select id="SelBasketProductEachList" parameterType="int"
		resultType="com.basic.product.ProductEachDTO">
		select
		p.PRODUCT_NUM,ps.PRODUCTSIZE_SIZE,pe.PRODUCTEACH_COLOR from PRODUCT
		p,PRODUCTEACH
		pe,PRODUCTSIZE ps
		where pe.PRODUCT_NUM = p.PRODUCT_NUM and
		ps.PRODUCT_NUM =
		p.PRODUCT_NUM
		and ps.PRODUCTSIZE_SIZE =
		pe.PRODUCTSIZE_SIZE and
		p.PRODUCT_NUM = #{product_num} ORDER BY
		ps.PRODUCTSIZE_SIZE desc
	</select>


	<!-- BASKET ADD S -->

	<select id="SelBasketUseBasNum" parameterType="java.util.HashMap"
		resultType="int">
		SELECT DISTINCT b.BASKET_NUM FROM BASKET b , BASKETINFO bi
		where
		bi.BASKET_NUM = b.BASKET_NUM
		and b.PRODUCT_NUM=
		#{productEachDTO.product_num} and b.ID=#{memberDTO.id} and
		bi.BASKETINFO_SIZE= #{productEachDTO.productSize_size}
		and
		bi.BASKETINFO_COLOR= #{productEachDTO.productEach_color}
	</select>

	<select id="SelBasketGetEach" parameterType="int" resultType="int">
		select bi.basketInfo_each from basket b,basketinfo bi
		where
		bi.basket_num = b.basket_num
		and b.basket_num=#{basket_num}
	</select>

	<select id="SelProuctGetEach" parameterType="java.util.HashMap"
		resultType="int">
		select DISTINCT pe.PRODUCTEACH_EACH from product
		p,PRODUCTSIZE ps
		,PRODUCTEACH pe where pe.PRODUCT_NUM = p.PRODUCT_NUM
		and
		ps.PRODUCT_NUM = p.PRODUCT_NUM
		and ps.PRODUCTSIZE_SIZE =
		pe.PRODUCTSIZE_SIZE
		and p.PRODUCT_NUM=#{productEachDTO.product_num} and
		pE.PRODUCTSIZE_SIZE =#{productEachDTO.productSize_size} and
		pe.PRODUCTEACH_COLOR=#{productEachDTO.productEach_color}

	</select>

	<!-- Basket Update S -->

	<select id="SelBasketInfo" parameterType="java.util.HashMap"
		resultType="int">
		select count(b.BASKET_NUM) from member m,PRODUCT P,basket
		b,basketInfo bi
		WHERE bi.BASKET_NUM = b.BASKET_NUM and P.PRODUCT_NUM =
		b.PRODUCT_NUM
		and m.ID = b.ID and m.id = #{member.id}
		and
		P.PRODUCT_NUM=#{product.product_num} and bi.BASKETINFO_SIZE =
		upper(#{basketInfo.basketInfo_size}) and
		bi.BASKETINFO_COLOR=upper(#{basketInfo.basketInfo_color}) and
		b.BASKET_NUM not
		in (#{basketInfo.basket_num})

	</select>

	<update id="UpbasketInfo" parameterType="java.util.HashMap">
		update basketInfo set
		basketInfo_size=#{basketInfo.basketInfo_size},
		basketInfo_color=#{basketInfo.basketInfo_color},
		basketInfo_each=#{basketInfo.basketInfo_each}
		where basket_num =
		#{basketInfo.basket_num}
	</update>

	<delete id="DelBasketInfo" parameterType="java.util.HashMap">
		delete from basketInfo where
		basket_num in
		<foreach item="item" index="index" collection="del_basket_num"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<delete id="DelBasket" parameterType="java.util.HashMap">
		delete from basket where
		basket_num in
		<foreach item="item" index="index" collection="del_basket_num"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="UpBasketEach" parameterType="com.basic.basket.BasketInfoDTO">
		update basketInfo set
		basketinfo_each=#{basketInfo_each} where
		basket_num=#{basket_num}
	</update>




	<insert id="InBasketAdd" parameterType="java.util.HashMap">
		insert into basket values
		(basket_seq.nextval,#{productEachDTO.product_num},#{memberDTO.id})
	</insert>
	<insert id="InBasketInfoAdd" parameterType="java.util.HashMap">
		insert into
		basketInfo values
		(basket_seq.currval,upper(#{productEachDTO.productSize_size}),upper(#{productEachDTO.productEach_color}),#{productEachDTO.productEach_each})
	</insert>

	<!-- BASKET ADD E -->

</mapper>