<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BasketMapper">


	<!-- BASKET List S -->
	<select id="SelBasketList" parameterType="com.basic.member.MemberDTO"
		resultType="com.basic.basket.BasketListDTO">
		select
		p.PRODUCT_NUM,p.PRODUCT_NAME,pi.PRODUCTINFO_PRICE,pi.PRODUCTINFO_SALERATE
		,b.BASKET_NUM,bi.BASKETINFO_SIZE,bi.BASKETINFO_COLOR,bi.BASKETINFO_EACH
		from PRODUCT p, PRODUCTINFO pi,BASKET b,BASKETINFO bi
		where
		bi.BASKET_NUM = b.BASKET_NUM and p.PRODUCT_NUM = b.PRODUCT_NUM
		and
		pi.PRODUCT_NUM = b.PRODUCT_NUM and pi.PRODUCT_NUM = p.PRODUCT_NUM
		and
		b.MEMBER_ID=#{id}
	</select>

	<insert id="InBasketAdd" parameterType="java.util.HashMap">
		insert into basket values
		(basket_seq.nextval,#{productEachDTO.product_num},#{memberDTO.id})
	</insert>
	<insert id="InBasketInfoAdd" parameterType="java.util.HashMap">
		insert into
		basketInfo values
		(basket_seq.currval,#{productEachDTO.productSize_size},#{productEachDTO.productEach_color},#{productEachDTO.productEach_each})
	</insert>
	
	<!--  private int product_num;
	private String productSize_size;
	private String productEach_color;
	private int productEach_each;  -->






</mapper>