<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MastMapper">

	<resultMap type="com.basic.product.ProductDTO" id="Product">
		<id property="product_num" column="product_num" />
		<result property="product_name" column="product_name" />
	</resultMap>

	<resultMap type="com.basic.buy.BuyDTO" id="Buy">
		<id property="buy_num" column="buy_num" />
		<result property="member_id" column="id" />
		<result property="product_num" column="product_num" />
	</resultMap>

	<resultMap type="com.basic.buy.BuyStateDTO" id="BuyState">
		<id property="buy_num" column="buy_num" />
		<result property="buyState_size" column="buyState_size" />
		<result property="buyState_color" column="buyState_color" />
		<result property="buyState_each" column="buyState_each" />
		<result property="buyState_price" column="buyState_price" />
		<result property="buyState_expressNum" column="buyState_expressNum" />
		<result property="buyState_pay_date" column="buyState_pay_date" />
		<result property="buyState_result_date" column="buyState_result_date" />
		<result property="buyState_state" column="buyState_state" />
	</resultMap>

	<resultMap type="com.basic.mast.MastBuyListDTO" id="MastBuyList">
		<association property="productDTO" resultMap="Product" />
		<association property="buyDTO" resultMap="Buy" />
		<association property="buyStateDTO" resultMap="BuyState" />
	</resultMap>

	<select id="SelMastBuyList" resultMap="MastBuyList"
		parameterType="java.util.HashMap">
		select DISTINCT
		b.BUY_NUM,p.PRODUCT_NUM,p.PRODUCT_NAME,m.ID,bs.BUYSTATE_SIZE,bs.BUYSTATE_COLOR,bs.BUYSTATE_EACH,bs.BUYSTATE_PRICE
		,bs.BUYSTATE_EXPRESSNUM,bs.BUYSTATE_PAY_DATE,bs.BUYSTATE_RESULT_DATE,bs.BUYSTATE_STATE
		from PRODUCT p, buy b, BUYSTATE bs , MEMBER m
		where bs.BUY_NUM =
		b.BUY_NUM and m.ID = b.ID and p.PRODUCT_NUM =
		b.PRODUCT_NUM
		<if test="state_num != 0">
			and
			bs.BUYSTATE_STATE = #{state_num}
		</if>
		order by bs.buystate_state asc, bs.buystate_pay_date desc , b.buy_num
		desc
	</select>


	<!-- update State 1 to 2 S -->
	<update id="UpBuyState" parameterType="com.basic.buy.BuyStateDTO">
		update buyState set
		<if test="buyState_expressNum != 0">
			buystate_expressNum = #{buyState_expressNum},
		</if>
		<choose>
			<when test="buyState_state == 2 and buyState_expressNum !=0">
				buystate_state = #{buyState_state},
			</when>
			<otherwise>
				buystate_state = #{buyState_state}+1,
			</otherwise>
		</choose>
		buyState_result_date = sysdate
		where buy_num = #{buy_num}
	</update>

	<!-- update State 1 to 2 E -->

	<!-- update 7day auto update ssssss -->

	<update id="UpBuyStateAuto" parameterType="com.basic.buy.BuyStateDTO">
		update buyState set
		buystate_state = 4
		where buystate_state = 3 and
		sysdate - buystate_result_date > 7
	</update>

	<!-- update 7day auto update eeeeeee -->






</mapper>