<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<!-- 회원가입 -->
	<insert id="memberJoin" parameterType="com.basic.member.MemberDTO">
		insert into member
		values(member_seq.nextval,#{id},#{pw},#{name},#{birth},#{gender},#{tel0},#{tel1})
	</insert>
	
	<!-- 회원 로그인 -->
	<select id="memberLogin" resultType="com.basic.member.MemberDTO"
		parameterType="com.basic.member.MemberDTO">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<!-- 회원 수정 -->
	<update id="memberUpdate" parameterType="com.basic.member.MemberDTO">
		update member
		<trim prefix="set" suffixOverrides=",">
			<if test="pw != null">
				pw = #{pw},
			</if>
			<if test="tel0 != null">
				tel0 = #{tel0},
			</if>
			<if test="tel1 != null">
				tel1 = #{tel1},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="memberDelete" parameterType="com.basic.member.MemberDTO">
		delete member where
		id=#{id} and pw=#{pw}
	</delete>

	<!-- ID 찾기 -->
	<select id="idFind" resultType="com.basic.member.MemberDTO" parameterType="com.basic.member.MemberDTO">
		select * from member where name=#{name} and tel1=#{tel1}
	</select>

	<!-- ID 중복 체크 , PW 찾기 -->
	<select id="idCheck" resultType="com.basic.member.MemberDTO" parameterType="com.basic.member.MemberDTO">
		select * from member where id=#{id}
	</select>


</mapper>