<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<!-- default DTO S -->

	<resultMap type="com.basic.product.ProductSelectDTO" id="ProductSelect">
		<id column="productSelect_num" property="productSelect_num"
			javaType="int" />
		<result column="productSelect_name" property="productSelect_name"
			javaType="java.lang.String" />
	</resultMap>

	<resultMap type="com.basic.product.KindDTO" id="Kind">
		<id column="kind_num" property="kind_num" javaType="int" />
		<result column="kind_name" property="kind_name" javaType="java.lang.String" />
		<result column="productSelect_num" property="productSelect_num"
			javaType="int" />
	</resultMap>

	<resultMap type="com.basic.product.ProductInfoDTO" id="ProductInfo">
		<result column="productInfo_price" property="productInfo_price"
			javaType="int" />
		<result column="productInfo_reg_date" property="productInfo_reg_date"
			javaType="java.sql.Date" />
		<result column="productInfo_rec_date" property="productInfo_rec_date"
			javaType="java.sql.Date" />
		<result column="productInfo_saleRate" property="productInfo_saleRate"
			javaType="double" />
		<result column="productInfo_searchWord" property="productInfo_searchWord"
			javaType="java.lang.String" />
		<result column="productInfo_brand" property="productInfo_brand"
			javaType="java.lang.String" />
	</resultMap>

	<resultMap type="com.basic.product.ProductEachDTO" id="ProductEach">
		<id column="product_num" property="product_num" javaType="int" />
		<result column="productEach_size" property="productEach_size"
			javaType="java.lang.String" />
		<result column="productEach_color" property="productEach_color"
			javaType="java.lang.String" />
		<result column="productEach_each" property="productEach_each"
			javaType="int" />
	</resultMap>

	<resultMap type="com.basic.product.ProductKindDTO" id="ProductKind">
		<result column="product_num" property="product_num" javaType="int" />
		<result column="kind_num" property="kind_num" javaType="int" />
	</resultMap>

	<resultMap type="com.basic.product.ProductPicDTO" id="ProductPic">
		<id column="product_num" property="product_num" javaType="int" />
		<result column="productPic_pic" property="productPic_pic"
			javaType="java.lang.String" />
	</resultMap>

	<resultMap type="com.basic.product.ProductDTO" id="Product">
		<id column="product_num" property="product_num" javaType="int" />
		<result column="product_name" property="product_name" javaType="java.lang.String" />
	</resultMap>

	<!-- PRODUCTVIEW DTO S -->
	<resultMap type="com.basic.product.ProductViewDTO" id="ProudctView">
		<id column="product_num" property="product_num" javaType="int" />
		<result column="product_name" property="product_name" javaType="java.lang.String" />
		<result column="productInfo_price" property="productInfo_price"
			javaType="int" />
		<result column="productInfo_saleRate" property="productInfo_saleRate"
			javaType="double" />
		<result column="productInfo_searchWord" property="productInfo_searchWord"
			javaType="java.lang.String" />
		<result column="productInfo_brand" property="productInfo_brand"
			javaType="java.lang.String" />
			<result column="productPic_pic" property="productPic_pic"/>
		<result column="kind_num" property="kind_num" javaType="int" />
	</resultMap>
	<!-- PRODUCTVIEW DTO E -->








	<!-- default DTO E -->







	<!-- Product List DTO S -->
	<resultMap type="com.basic.product.ProductListDTO" id="ProductList">
		<result column="r" property="r" />
		<association property="productDTO" resultMap="Product" />
		<association property="productInfoDTO" resultMap="ProductInfo" />
		<association property="productPicDTO" resultMap="ProductPic" />
	</resultMap>

	<!-- Product List DTO E -->



	<!-- productSelect List S -->
	<select id="SelProductSelectList" resultMap="ProductSelect">
		select *from
		productSelect order by productSelect_num asc

	</select>

	<!-- productSelect List E -->

	<!-- productView All Each 0 maazin check S -->
	<select id="SelProductViewAllEach" parameterType="int"
		resultType="int">
		select count(*) from productEach where product_num=#{product_num}
	</select>
	<select id="SelProductViewAllEach0" parameterType="int"
		resultType="int">
		select count(*) from productEach where product_num=#{product_num} and
		PRODUCTEACH_EACH=0
	</select>
	<!-- productView All Each 0 maazin check e -->



	<!-- json productViewEachGet s -->
	<select id="SelProductViewEachGet" parameterType="java.util.HashMap"
		resultType="int">
		select productEach_each from productEach
		where product_num=#{product_num}
		and productSize_size = #{productSize_size}
		and productEach_color = #{productEach_color}


	</select>

	<!-- json productViewEachGet e -->


	<!-- Product List S -->
	<select id="SelProductList" resultMap="ProductList"
		parameterType="java.util.HashMap">
		select * from (select rownum r, z.* from (select DISTINCT
		(PRODUCTINFO_PRICE*(100-productInfo_saleRate)/100)
		realPrice,t.*,pi.PRODUCTINFO_PRICE,pi.PRODUCTINFO_SALERATE,pc.PRODUCTPIC_PIC
		from (select
		count(b.BUY_NUM) c,p.PRODUCT_NUM,p.PRODUCT_NAME from
		product p LEFT
		OUTER JOIN buy b
		on b.PRODUCT_NUM = p.PRODUCT_NUM group
		by
		p.PRODUCT_NUM, p.PRODUCT_NAME)
		t , PRODUCTINFO pi,PRODUCTEACH
		pe,PRODUCTPIC pc,
		kind
		k,PRODUCTKIND pk where
		pc.PRODUCT_NUM =
		t.PRODUCT_NUM and
		pe.PRODUCT_NUM = t.PRODUCT_NUM and
		pi.PRODUCT_NUM =
		t.PRODUCT_NUM
		and pk.KIND_NUM =
		k.KIND_NUM and
		pk.PRODUCT_NUM =
		t.PRODUCT_NUM
		<if test="productParamDTO.productSelect_num != 0">
			and
			k.productSelect_num =
			#{productParamDTO.productSelect_num}
		</if>
		<if test="sale != null ">
			and pi.productInfo_saleRate not in (0)
		</if>
		<if test="productParamDTO.color != null ">
			and UPPER(pe.PRODUCTEACH_COLOR) in
			<foreach item="item" index="index" collection="productParamDTO.color"
				open="(" separator="," close=")">
				UPPER(#{item})
			</foreach>
		</if>
		<if test="productParamDTO.kind_num != null ">
			and UPPER(pk.kind_num) in
			<foreach item="item" index="index" collection="productParamDTO.kind_num"
				open="(" separator="," close=")">
				UPPER(#{item})
			</foreach>
		</if>
		<if test="productParamDTO.size != null ">
			and UPPER(pe.PRODUCTsize_size) in
			<foreach item="item" index="index" collection="productParamDTO.size"
				open="(" separator="," close=")">
				UPPER(#{item})
			</foreach>
		</if>
		<choose>
			<when test="productParamDTO.sel == 2">
				order by t.c desc,t.product_num desc
			</when>
			<when test="productParamDTO.sel == 3">
				order by realPrice asc
			</when>
			<when test="productParamDTO.sel == 4">
				order by realPrice desc
			</when>
			<otherwise>
				order by t.PRODUCT_NUM desc
			</otherwise>
		</choose>
		) z) where
		r between #{pageMaker.startRowNum} and
		#{pageMaker.lastLowNum}
	</select>
	<!-- Product List E -->


	<!-- Product List Count S -->
	<select id="SelProductCount" parameterType="java.util.HashMap"
		resultType="int">
		select count(t.product_num) from (select DISTINCT
		p.PRODUCT_NUM,p.PRODUCT_NAME,pk.KIND_NUM,pi.PRODUCTINFO_PRICE,pi.PRODUCTINFO_SALERATE,pi.PRODUCTINFO_SEARCHWORD
		from PRODUCT p,PRODUCTINFO pi,PRODUCTKIND pk ,PRODUCTSIZE ps,
		PRODUCTEACH pe,KIND k
		where pe.PRODUCT_NUM = p.PRODUCT_NUM and
		pi.PRODUCT_NUM
		= p.PRODUCT_NUM and
		pk.PRODUCT_NUM = p.PRODUCT_NUM
		and
		ps.PRODUCT_NUM =
		p.PRODUCT_NUM and ps.PRODUCTSIZE_SIZE =
		pe.PRODUCTSIZE_SIZE and pk.KIND_NUM = k.KIND_NUM
		<if test="productParamDTO.productSelect_num != 0">
			and
			k.productSelect_num =
			#{productParamDTO.productSelect_num}
		</if>
		<if test="sale != null ">
			and pi.productInfo_saleRate not in (0)
		</if>
		<if test="productParamDTO.color != null ">
			and UPPER(pe.PRODUCTEACH_COLOR) in
			<foreach item="item" index="index" collection="productParamDTO.color"
				open="(" separator="," close=")">
				UPPER(#{item})
			</foreach>
		</if>
		<if test="productParamDTO.kind_num != null ">
			and UPPER(pk.kind_num) in
			<foreach item="item" index="index" collection="productParamDTO.kind_num"
				open="(" separator="," close=")">
				UPPER(#{item})
			</foreach>
		</if>
		<if test="productParamDTO.size != null ">
			and UPPER(ps.PRODUCTsize_size) in
			<foreach item="item" index="index" collection="productParamDTO.size"
				open="(" separator="," close=")">
				UPPER(#{item})
			</foreach>
		</if>
		) t

	</select>
	<!-- Product List Count E -->

	<!-- Product View S -->
	<select id="SelProductView" parameterType="int" resultMap="ProudctView">
		SELECT DISTINCT
		p.PRODUCT_NUM,p.PRODUCT_NAME,pi.PRODUCTINFO_PRICE,pi.PRODUCTINFO_SALERATE,pi.PRODUCTINFO_SEARCHWORD,pc.productPic_pic
		,pk.KIND_NUM FROM PRODUCT p , PRODUCTINFO pi ,PRODUCTKIND pk,productPic pc
		where
		pc.product_num = p.product_num and
		pi.PRODUCT_NUM = p.PRODUCT_NUM and pk.PRODUCT_NUM = p.PRODUCT_NUM and
		pk.PRODUCT_NUM = pi.PRODUCT_NUM
		and p.PRODUCT_NUM=#{product_num}
	</select>
	<!-- Product View E -->

	<!-- Product View SUB S -->

	<select id="SelProductSizeList" parameterType="int" resultType="java.lang.String">
		select distinct ps.productSize_size from
		product p,productSize ps,productEach pe where
		p.product_num = ps.product_num and
		p.product_num = pe.product_num
		and p.product_num = #{product_num}
		and pe.productEach_each not in (0)
	</select>

	<select id="SelProductEachList" parameterType="com.basic.product.ProductEachListDTO"
		resultType="com.basic.product.ProductEachDTO">
		select DISTINCT pe.PRODUCTEACH_COLOR,pe.PRODUCTEACH_EACH
		from PRODUCT p,
		PRODUCTSIZE ps, PRODUCTEACH pe
		where pe.PRODUCT_NUM =
		p.PRODUCT_NUM and ps.PRODUCT_NUM = p.PRODUCT_NUM and
		ps.PRODUCT_NUM =
		pe.PRODUCT_NUM and ps.PRODUCTSIZE_SIZE =
		pe.PRODUCTSIZE_SIZE
		and
		p.PRODUCT_NUM = #{product_num} and ps.PRODUCTSIZE_SIZE =
		#{productSize_size}
		and pe.productEach_each not in (0)
	</select>


	<!-- Product View SUB E -->


	<!-- Product Add S -->

	<insert id="ProductAdd" parameterType="com.basic.product.ProductAddDTO">
		insert into product
		values(product_seq.nextval,upper(#{product_name}))
	</insert>
	<insert id="ProductInfoAdd" parameterType="com.basic.product.ProductAddDTO">
		insert into
		productInfo
		values(product_seq.currval,#{productInfo_price},sysdate,sysdate,#{productInfo_saleRate},upper(#{productInfo_searchWord}))
	</insert>
	<insert id="ProductKindAdd" parameterType="com.basic.product.ProductAddDTO">
		insert into
		productKind
		values(product_seq.currval,#{kind_num})
	</insert>

	<!-- Product Add E -->

	<!-- Product Size Add S -->

	<select id="ProductSizeCheck" resultType="int"
		parameterType="com.basic.product.ProductEachAddDTO">
		select DISTINCT count(ps.productSize_size) from product
		p, PRODUCTSIZE ps
		where ps.PRODUCT_NUM = p.PRODUCT_NUM and
		ps.PRODUCT_NUM = #{product_num}
		and
		ps.PRODUCTSIZE_SIZE=upper(#{productSize_size})

	</select>

	<insert id="ProductSizeAdd" parameterType="com.basic.product.ProductEachAddDTO">
		insert into
		productSize
		values(#{product_num},upper(#{productSize_size}))
	</insert>
	<insert id="ProductEachAdd" parameterType="com.basic.product.ProductEachAddDTO">
		insert into
		productEach
		values(#{product_num},upper(#{productSize_size}),upper(#{productEach_color}),#{productEach_each})
	</insert>

	<!-- Product Size Add E -->

	<!-- PRODUCT EACH UPDATE S -->



	<!-- PRODUCT EACH UPDATE E -->

	<!-- productBest List S -->

	<select id="SelProductBest" resultType="com.basic.product.ProductBestDTO">
		select * from (select
		ROWNUM r,t.* from (select count(b.product_num)
		sel_count,p.PRODUCT_NUM,p.PRODUCT_NAME,pi.productInfo_price,pi.PRODUCTINFO_SALERATE,pi.PRODUCTINFO_BRAND,pc.productPic_pic
		from PRODUCT p,productinfo pi, BUY b,PRODUCTPIC pc
		where pc.PRODUCT_NUM = p.PRODUCT_NUM and p.PRODUCT_NUM =
		b.PRODUCT_NUM
		and pi.PRODUCT_NUM = p.PRODUCT_NUM
		group by b.PRODUCT_NUM,
		pi.productInfo_price, pi.PRODUCTINFO_SALERATE,pi.PRODUCTINFO_BRAND,pc.productPic_pic,
		p.PRODUCT_NUM,
		p.PRODUCT_NAME
		ORDER BY sel_count desc,p.PRODUCT_NUM desc) t)where r
		between 0 and 9
	</select>



	<!-- productBest List E -->





	<!-- TEST FILE UPLOAD S -->
	<insert id="InsTestFileUp" parameterType="com.basic.product.ProductPicDTO">
		insert into productPic
		values(#{product_num},#{productPic_pic})
	</insert>
	<select id="SelGetTestProductNum" parameterType="int"
		resultType="int">
		select product_num from product where product_num =
		#{product_num}
	</select>

	<!-- TEST FILE UPLOAD S -->







	<!-- Ajax S -->

	<select id="SelProductEachGet" parameterType="com.basic.product.ProductEachDTO"
		resultType="int">
		select pe.PRODUCTEACH_EACH from PRODUCT p,PRODUCTEACH
		pe,PRODUCTSIZE ps
		where pe.PRODUCT_NUM = p.PRODUCT_NUM and
		ps.PRODUCT_NUM =
		p.PRODUCT_NUM
		and ps.PRODUCTSIZE_SIZE =
		pe.PRODUCTSIZE_SIZE and
		p.PRODUCT_NUM = #{product_num} and
		ps.PRODUCTSIZE_SIZE =#{productSize_size} and pe.PRODUCTEACH_COLOR
		=#{productEach_color}

	</select>

	<select id="SelAllProductSize" resultType="java.lang.String"
		parameterType="java.util.HashMap">
		select DISTINCT
		ps.PRODUCTSIZE_SIZE from product p ,PRODUCTKIND pk,kind
		k,
		PRODUCTSIZE ps
		where pk.KIND_NUM = k.KIND_NUM
		and pk.PRODUCT_NUM =
		p.PRODUCT_NUM
		and ps.PRODUCT_NUM = p.PRODUCT_NUM
		<if test="productSelect_num != 0">
			and k.PRODUCTSELECT_NUM = #{productSelect_num}
		</if>
		order by case when
		ps.productSize_size = 'SSS' then 1 when
		ps.productSize_size = 'SS'
		then 2 when ps.productSize_size = 'S' then 3
		when ps.productSize_size = 'M' then 4 when ps.productSize_size = 'L'
		then
		5 when ps.productSize_size = 'XL' then 6 when ps.productSize_size
		=
		'XXL' then 7
		end
	</select>

	<select id="SelAllProductColor" resultType="java.lang.String"
		parameterType="java.util.HashMap">
		select DISTINCT
		pe.PRODUCTEACH_COLOR from PRODUCT p , PRODUCTEACH
		pe,PRODUCTKIND pk,kind k
		where
		pk.KIND_NUM = k.KIND_NUM and
		pk.PRODUCT_NUM = p.PRODUCT_NUM and
		pe.PRODUCT_NUM = p.PRODUCT_NUM
		and
		pe.PRODUCTEACH_EACH not in(0)
		<if test="productSelect_num != 0">
			and k.PRODUCTSELECT_NUM = #{productSelect_num}
		</if>
		order by pe.productEach_color asc
	</select>

	<select id="SelAllKindNum" resultType="int" parameterType="java.util.HashMap">
		select DISTINCT
		pk.KIND_NUM from PRODUCT p , PRODUCTKIND pk,kind k
		where pk.PRODUCT_NUM = p.PRODUCT_NUM
		and pk.KIND_NUM = k.KIND_NUM
		and
		pk.PRODUCT_NUM = p.PRODUCT_NUM
		<if test="productSelect_num !=0">
			and k.PRODUCTSELECT_NUM = #{productSelect_num}
		</if>
	</select>
	<!--상품검색 -->
	<select id="searchList" parameterType="java.util.HashMap"
		resultType="com.basic.product.ProductListDTO" statementType="PREPARED">
		select *
		from (select rownum r, z.* from (select
		DISTINCT
		t.*,pi.PRODUCTINFO_PRICE,pi.PRODUCTINFO_SALERATE from (select
		count(b.BUY_NUM) c,p.PRODUCT_NUM,p.PRODUCT_NAME from product p LEFT
		OUTER JOIN buy b
		on b.PRODUCT_NUM = p.PRODUCT_NUM group by
		p.PRODUCT_NUM, p.PRODUCT_NAME)
		t , PRODUCTINFO pi,PRODUCTEACH pe,
		kind
		k,PRODUCTKIND pk where pe.PRODUCT_NUM = t.PRODUCT_NUM and
		pi.PRODUCT_NUM = t.PRODUCT_NUM
		and pk.KIND_NUM = k.KIND_NUM and
		pk.PRODUCT_NUM = t.PRODUCT_NUM
		and pi.productInfo_saleRate not in(0)
		order by t.product_num desc

		) z) where PRODUCT_NAME like #{find} and r
		between
		#{pageMaker.startRowNum} and
		#{pageMaker.lastLowNum}
	</select>
	<!--상품검색count -->
	<select id="searchCount" parameterType="String" resultType="int">
		select count(*) from PRODUCT
		where product_name like #{find}
	</select>
	<!-- Ajax E -->







</mapper>