<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<!-- default DTO S -->

	<resultMap type="com.basic.test.ProductSelectDTO" id="ProductSelect">
		<id column="productSelect_num" property="productSelect_num"
			javaType="int" />
		<result column="productSelect_name" property="productSelect_name"
			javaType="java.lang.String" />
	</resultMap>

	<resultMap type="com.basic.test.KindDTO" id="Kind">
		<id column="kind_num" property="kind_num" javaType="int" />
		<result column="kind_name" property="kind_name" javaType="java.lang.String" />
	</resultMap>

	<resultMap type="com.basic.test.ProductInfoDTO" id="ProductInfo">
		<id column="product_num" property="product_num" javaType="int" />
		<result column="productInfo_price" property="productInfo_price"
			javaType="int" />
		<result column="productInfo_reg_date" property="productInfo_reg_date"
			javaType="java.sql.Date" />
		<result column="productInfo_rec_date" property="productInfo_rec_date"
			javaType="java.sql.Date" />
		<result column="productInfo_saleRate" property="productInfo_saleRate"
			javaType="double" />
		<result column="productInfo_searchWord" property="productInfo_searchWord"
			javaType="java.lang.String" />
	</resultMap>

	<resultMap type="com.basic.test.ProductEachDTO" id="ProductEach">
		<id column="product_num" property="product_num" javaType="int" />
		<result column="productEach_size" property="productEach_size"
			javaType="java.lang.String" />
		<result column="productEach_color" property="productEach_color"
			javaType="java.lang.String" />
		<result column="productEach_each" property="productEach_each"
			javaType="int" />
	</resultMap>

	<resultMap type="com.basic.test.ProductKindDTO" id="ProductKind">
		<result column="product_num" property="product_num" javaType="int" />
		<result column="kind_num" property="kind_num" javaType="int" />
	</resultMap>

	<resultMap type="com.basic.test.ProductDTO" id="Product">
		<id column="product_num" property="product_num" javaType="int" />
		<result column="product_name" property="product_name" javaType="java.lang.String" />
	</resultMap>

	<!-- default DTO E -->

	<!-- join DTO S -->

	<!-- Product List Count S -->
	<select id="selProductCount" parameterType="java.util.HashMap">
		select count(product_num) from product
		<where>
			<if test="kind_num != null">
				<foreach collection="kind_num" item="item">
					#{item}
				</foreach>



			</if>
			<if test="color != null">



			</if>
			<if test="searchWord != null">



			</if>

		</where>

	</select>


	<!-- Product List Count E -->



	<!-- Product List DTO S -->

	<!-- Product List DTO E -->
	<select id="SelProductList" resultType="com.basic.product.ProductListDTO"
		parameterType="java.util.HashMap">
		select * from
		(select ROWNUM r,t.* from (select DISTINCT
		p.PRODUCT_NUM,p.PRODUCT_NAME,pi.PRODUCTINFO_PRICE from PRODUCT p ,
		PRODUCTINFO pi , PRODUCTEACH pe , PRODUCTKIND pk
		where pe.PRODUCT_NUM =
		p.PRODUCT_NUM
		and pi.PRODUCT_NUM = p.PRODUCT_NUM
		and pk.PRODUCT_NUM =
		p.PRODUCT_NUM
		<if test="productParamDTO.color != null ">
			and UPPER(pe.PRODUCTEACH_COLOR) in
			<foreach item="item" index="index" collection="productParamDTO.color"
				open="(" separator="," close=")">
				UPPER(#{item})
			</foreach>
		</if>
		<if test="productParamDTO.getKind_num() != null ">
			and UPPER(pk.kind_num) in
			<foreach item="item" index="index" collection="productParamDTO.Kind_num"
				open="(" separator="," close=")">
				UPPER(#{item})
			</foreach>
		</if>
		<if test="productParamDTO.getSize() != null ">
			and UPPER(pe.PRODUCTEACH_size) in
			<foreach item="item" index="index" collection="productParamDTO.Size"
				open="(" separator="," close=")">
				UPPER(#{item})
			</foreach>
		</if>
		<choose>
			<when test="productParamDTO.getSel() == 2">
				order by p.PRODUCT_NUM asc
			</when>
			<when test="productParamDTO.getSel() == 3">
				order by pi.productInfo_price asc
			</when>
			<when test="productParamDTO.getSel() == 4">
				order by pi.productInfo_price desc
			</when>
			<otherwise>
				order by p.PRODUCT_NUM desc
			</otherwise>
		</choose>
		) t ) where r BETWEEN
		#{pageMaker.startRowNum} and
		#{pageMaker.lastLowNum}

	</select>


</mapper>