<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">


<!--review write  -->
<insert id="reviewWrite" parameterType="com.basic.review.ReviewDTO" >
	insert into review values(review_seq.nextval,#{review_writer},#{review_star}, 
	#{review_contents},#{review_product},sysdate,#{review_img,jdbcType=VARCHAR})
</insert>
<!--reviewList  -->
<select id="reviewList" resultType="com.basic.review.ReviewDTO" parameterType="java.util.HashMap" statementType="PREPARED">
	select * from
		(select Rownum R, F.* from
		(select * from review order by review_num desc) F)
		where review_product=#{review.review_product} and R between #{page.startRowNum} and #{page.lastLowNum}
</select>
<!--관리자reviewList  -->
<select id="mastReviewList" resultType="com.basic.review.ReviewDTO" parameterType="java.util.HashMap" statementType="PREPARED">
	select * from
		(select Rownum R, F.* from
		(select * from review order by review_num desc) F)
		where R between #{page.startRowNum} and #{page.lastLowNum}
</select>
<!--review view  -->
<select id="review" parameterType="int" resultType="com.basic.review.ReviewDTO">
	select * from review where review_num=#{review_num} and review_product=#{review_product}
</select>
<!--review update  -->
<update id="reviewUpdate" parameterType="com.basic.review.ReviewDTO">
	update review set review_contents=#{review_contents},
	review_star=#{review_star},review_reg_date=sysdate,review_img=#{review_img}
	where review_num=#{review_num}
</update>
<!--review delete  -->
<delete id="reviewDel" parameterType="int">
	delete review where review_num=#{review_num} and review_product=#{review_product}
</delete>
<!--review count  -->
<select id="reviewCount" parameterType="com.basic.review.ReviewDTO" resultType="int">			
			select count(*) from review
								
</select>
</mapper>