<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TestMemberMapper">

<select id="MemberLogin" parameterType="com.basic.test.TestMemberDTO" resultType="com.basic.test.TestMemberDTO">
select * from member where member_id = #{member_id} and member_pw = #{member_pw} 
</select>

</mapper>