@CHARSET "UTF-8";
#main {
    position: relative;
    min-height: 100%;
    background: #f1f4f8;
}
.navbar-branding {
    position: relative;
    overflow: hidden;
    float: left;
    width: 250px;
    height: 70px;
    margin-right: 10px;
    background-color: #43c7d7;
    color: #fff;
}
.navbar[class*='bg-'] .navbar-brand {
    color: #fff;
}

.navbar-branding .navbar-brand {
    color: #fff;
    height: 70px;
    line-height: 68px;
    padding: 0;
    padding-left: 18px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.navbar-brand {
    float: left;
    padding: 16px 11px;
    font-size: 18px;
    line-height: 18px;
    height: 50px;
}

#toggle_sidemenu_l, #toggle_sidemenu_t {
    color: #fff;
    float: right;
    cursor: pointer;
    font-size: 16px;
    line-height: 68px;
    max-height: 70px;
    width: 60px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
}
.navbar-form {
    margin-top: 20px;
    margin-bottom: 17px;
    margin-left: 10px;
    font-weight: 400;
    color: #bcbfcb;
}
@media (min-width: 480px)
.navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
}

@media (min-width: 480px)
.navbar-left {
    float: left;
    float: left!important;
}
.navbar-form span {
    position: relative;
    top: 2px;
}
.fs18 {
    font-size: 18px !important;
}
@media (min-width: 1140px)
.visible-lg-inline-block {
    display: inline-block !important;
}
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-group {
    margin-bottom: 15px;
}
.navbar[class*='bg-'] .navbar-search.alt input {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
.navbar[class*='bg-'] .navbar-search input, .navbar[class*='bg-'] .navbar-search input:focus {
    border-color: transparent;
}
.navbar-form.navbar-search input {
    height: 26px;
    padding: 0 12px;
    font-size: 15px;
    box-shadow: none;
    margin-left: 9px;
    border: none;
    color: #999ba5;
}
.sidebar-menu > li > a {
    color: #91a7c6;
}
.sidebar-menu > li > a {
    padding: 0;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.sidebar-menu > li:first-child {
    padding-top: 4px;
}
.sidebar-menu .sidebar-label {
    color: #91a7c6;
}
.sidebar-menu .sidebar-label {
    text-transform: uppercase;
    color: #70829a;
    font-weight: 600;
    padding-left: 18px;
    padding-bottom: 3px;
    font-size: 12px;
}			