@CHARSET "UTF-8";


#subView > h2{
	text-align: center;
	margin-bottom: 50px;
}
.my_info{
	border-top : 1px solid #dce2eb;
	border-left : 1px solid #dce2eb;
	border-right : 1px solid #dce2eb;
	/* margin-bottom: 30px; */
	padding : 30px;
}
.my_info > strong{
	color: #222;
    display: block;
    font-family: nbg, "맑은 고딕", HelveticaNeue, DroidSans, sans-serif, Helvetica;
    font-size: 18px;
    margin-bottom: 10px;
}
.my_info > p > input[type='text']{

	font-size: 16px;
    padding: 20px;
    height: 56px;
}
.my_info > p > input[type='password']{
	font-size: 16px;
    padding: 20px;
    height: 56px;
}
.my_info > p > input[id='info_name']{
	width : 49%;
	float:left;
	height: 47px;

}
.my_info > p > input[type='date']{
	font-size: 16px;
    padding: 20px;
    height: 56px;
}
.my_info > select{
	font-size: 16px;
    padding: 20px;
    height: 56px;
}
.inList-group{
	padding-left: 30px;
}
.inList-group > li{
	font-size: 12px;
    list-style-type: disc;
    padding: 6px 0 6px;
}
.inList-group > li > a{
	text-decoration: none;
	color : #000;
	cursor: pointer;
}
.inList-group > li > a:HOVER{
	color: #006633;
}
#myQnAList > span{
	height: 7px;
    margin-top: -3px;
    position: absolute;
    right: -30px;
    top: 50%;
    width: 12px;
}
#myQnAList > span.sbox_arrow_up {
    background: url(/codi/resources/images/sbox_arrow_up.png);
}

#myQnAList > span.sbox_arrow_down {
    background: url(/codi/resources/images/sbox_arrow_down.png);
}

#tel1M{
	font-size: 16px;
    padding: 20px;
    height: 56px;
    background: none;
}
.user_gender {
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    float: left;
    margin-left: 10%;
    margin-top: -10px;
    overflow: hidden;
    width: 22.711%;
}
.user_gender a {
    color: #b0b0b0;
    display: block;
    float: left;
    line-height: 45px;
    text-align: center;
    text-decoration : none;
    width: 50%;
}
.user_gender a.on {
    background: #f4f4f2;
    color: #222;
}
.user_gender a.male {
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    width: 50%;
}
#my_name{
	height: 130px;
}
.address_btn{
	background: url(/codi/resources/images/footer-bg.png);
	border-radius: 3px; 
	color: #fff; 
	display: inline-block; 
	float: left; 
	height: 56px; 
	text-align: center; 
	width: 27.464%;    
	margin-bottom: 10px;
	-moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    -webkit-transition: all 1.0s ease;
    transition: all 1.0s ease;
}
.address_btn:HOVER{
	background: #eee;
	opacity: 1;
	color : #000;	
	
}
.info_btn{
	background:url(/codi/resources/images/footer-bg.png);
	color : white;
	-moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.info_btn:HOVER{
	background: transparent;
	color : #000;	
}
#subheader{
	background : url(/codi/resources/images/subMenu2_bg.png);
	background-position: 50% 135px;
	height: 178px;
	capacity : 1;
}
.sub_tit_inner{
	height: 74px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    width: 1100px;
}
.sub_tit_inner h4{
	font: bold 36px Avenir, Arial, georgia;
    color: #fefefe;
    position: relative;
}
#subheader ul.smap {
    position: absolute;
    right: 0;
    top: 78px;
}
#subheader ul.smap li {
    vertical-align: middle;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 0 2.5px;
}
#subheader ul.smap li a{
	text-decoration: none;
	color : #fefefe;
}

#listMenu{
	float: right;
    font-weight: bold;
    width: 220px;
        margin-top: 100px;
    margin-bottom: 90px;
}
#listMenu > ul{
	border-top : 2px solid #222;
}
#listMenu > ul > li{
	border-bottom: 1px solid #ddd;
    width: 220px;
}
#listMenu > ul > li > a {
    color: #444;
    display: block;
    font-size: 14px;
    padding: 20px 30px 20px 15px;
    position: relative;
    width: 175px;
    text-decoration: none;
    cursor: pointer;
}
#listMenu > ul > li > a:HOVER{
	color: #006633;
}








