@CHARSET "UTF-8";
.sub-header > li {
	line-height: 70px;
    margin-left: 40px;
}
.sub-header > li > a{
    display: block;
    font-size: 15px;
    color: #444444;
    display: block;
    text-align: center;
    width: 100px;
    line-height: 20px;
}
.sub-header > li > a:HOVER {
	cursor : pointer;
	color: #006633;
    font-weight: bold;
    background: none;
}
.item .left{
	float: left;
    width: 255px;
    margin-right: 15px;
    margin-top: 15px;
}
.item .right{
	float: left;
    padding-left: 30px;
    border-left: 1px solid #eeeeee;
}
.category-type > li > a{
	display: block;
    font-size: 16px;
    color: #444444;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    padding-top : 10px ;
}
.category-type > li > a:HOVER{
	cursor : pointer;
	color: #006633;
    font-weight: bold;
    background: none;
}
.category_div{
	border: 1px solid #eeeeee;
    width: 255px;
}
.category_div > p{
	color: #444;
    font-size: 14px;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px solid #eeeeee;
    margin : 0;
    font-family: 'Hanna', sans-serif;
}
.category_ul{
	background: #f7f7f7;
    height: 240px;
    overflow-x: auto;
}
.category_chkbox{
	width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    background: url(/codi/resources/images/checkbox.png); 
}
.category_ul .selected{
	background: url(/codi/resources/images/checkbox_sel.png);
}
.category_chkbox input[type="checkbox"] {
    margin: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
}
.item-info > p > a{
	color : #000;
}
.cart{
	text-align : center; background: #000; cursor: pointer;
}
.cart:HOVER{
	background:#006633;
	-moz-box-shadow: 0 15px 30px rgba(53, 57, 64, 0.5);
    -webkit-box-shadow: 0 15px 30px rgba(53, 57, 64, 0.5);
	box-shadow: 0 15px 28px #006633;
}
.cart > span{
	font-family: 'Hanna', sans-serif;
}


.btn.button-plus, .btn.button-minus {
    color : white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    padding: 0;
    height: 36px;
    width: 36px;
    line-height: 36px;
    border-radius: 50px;
    border-color : #f54f29;
    background: #f54f29;
    box-shadow: 0 15px 28px #f54f29;
    transition: all 0.3s ease;

}
.btn.button-plus:HOVER, .btn.button-minus:HOVER {
	background: #353940;
    border-color : #353940;
    color: white;
    -moz-box-shadow: 0 15px 30px rgba(53, 57, 64, 0.5);
    -webkit-box-shadow: 0 15px 30px rgba(53, 57, 64, 0.5);
    box-shadow: 0 15px 30px rgba(53, 57, 64, 0.5);
}
#modal_tab_right td > div > input {
	width: 58px;
    line-height: 36px;
    height: 58px;
    border: 2px solid #dce2eb;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #9d9d9d;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    float: left;
    padding-left: 15px;
    outline-width: 0;
    margin-top: 0;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
